<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home page 1 + 2</h1>
    <h4> <%= 1 +2 %></h4>
    <h2> <%= "ritul jain".toUpperCase() %></h2>
    <h3> <%= 1*2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eius repellat recusandae? Esse enim debitis odio ducimus dolore eligendi laboriosam quidem at nobis totam veritatis accusantium, doloremque dolor, tenetur magni.</p>
    <button>Click me !</button>
</body>
</html>